 <html>
 <head>
 	<title>Mastermind Rules</title>
 </head>
 <body>
 	<h1>Rules</h1>
 	<p>The code has 4 numbers between 1 and 6. You will get feedback on your guess:</p>
  <ul>
    <li>! notes a correct number in the correct position</li>
    <li>? notes a correct number, but in the wrong position</li>
    <li>0 notes a number not found in the code</li>
  </ul>
  <a href='/'>Back to Game</a>
  </body>
  </html>
  